.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  }
  
body{
    background-color: #f1f1f1;
}

#Titulos{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#completion-message{
    font-size: 36px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}

.piano-container{
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
}

.key{
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 12px;
    border: 1px solid rgba(32, 32, 32, .2);
    cursor: pointer;
    padding: 5px;
}

.white{
    width: 60px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 1px rgba(32, 32, 32, .2);
    z-index: 1;
}

.black{
    width: 40px;
    height: 120px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 1px rgba(32, 32, 32, .2);
    z-index: 2;
    position: absolute;
}